In [6]:
import numpy as np
import pandas as pd

In [7]:
dados = pd.read_csv('funcionarios_dados_ti.csv', sep = ';')
dados

,Nome,Cargo,Salario,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Ana Souza,Cientista de Dados,12000,NaN,NaN,NaN,NaN,NaN
1,Bruno Lima,Engenheiro de Dados,11500,NaN,NaN,NaN,NaN,NaN
2,Carla Mendes,Analista de BI,10500,NaN,NaN,NaN,NaN,NaN
3,Daniel Rocha,Engenheiro de Machine Learning,13000,NaN,NaN,NaN,NaN,NaN
4,Elisa Martins,Analista de Dados,9800,NaN,NaN,NaN,NaN,NaN
5,Felipe Andrade,Arquiteto de Dados,13500,NaN,NaN,NaN,NaN,NaN
6,Gabriela Torres,Engenheira de Dados,11800,NaN,NaN,NaN,NaN,NaN
7,Henrique Silva,Cientista de Dados JÃºnior,10200,NaN,NaN,NaN,NaN,NaN
8,Isabela Ferreira,Analista de BI Pleno,10800,NaN,NaN,NaN,NaN,NaN
9,JoÃ£o Pedro Ramos,Engenheiro de Dados SÃªnior,14000,NaN,NaN,NaN,NaN,NaN
10,Karina Oliveira,Especialista em Big Data,12500,NaN,NaN,NaN,NaN,NaN
11,Lucas Almeida,Analista de Dados JÃºnior,9700,NaN,NaN,NaN,NaN,NaN
12,Mariana Costa,Cientista de Dados Pleno,11000,NaN,NaN,NaN,NaN,NaN
13,Nelson Barros,Engenheiro de Dados JÃºnior,10100,NaN,NaN,NaN,NaN,NaN
14,Olivia Nascimento,Analista de BI SÃªnior,10900,NaN,NaN,NaN,NaN,NaN
15,Paulo Henrique,Arquiteto de SoluÃ§Ãµes de Dados,13200,NaN,NaN,NaN,NaN,NaN
16,QuÃ©sia Duarte,Cientista de Dados SÃªnior,14500,NaN,NaN,NaN,NaN,NaN
17,Rafael Teixeira,Engenheiro de Dados Pleno,11900,NaN,NaN,NaN,NaN,NaN
18,Sabrina Lopes,Analista de Dados Pleno,9900,NaN,NaN,NaN,NaN,NaN
19,Tiago Moreira,Especialista em Dados,12700,NaN,NaN,NaN,NaN,NaN

In [8]:
salario_array = np.array(dados['Salario'])

In [9]:
media = np.mean(salario_array)
mediana = np.median(salario_array)
distancia = (media - mediana) / mediana

print(f'Média: {media}')
print(f'Mediana: {mediana}')
print(f'Distancia: {round(distancia*100,2)}%') 
print('Nesse caso, a média é confiavel!')

Média: 11675.0
Mediana: 11650.0
Distancia: 0.21%
Nesse caso, a média é confiavel!

In [10]:
#outliers, são valores que se distanciam significativamente dos demais dados 

#descobrir outliers: 

# iqr = Q3 - Q1

#limite superior = Q3 + (1.5 x iqr) [outliers que puxam a media pra cima]
#limite inferior Q1 - (1.5 x iqr) [outliers que puxam a media pra baixo]

In [11]:
# Na última década, algum município da região metropolitana pode ser considerado outlier sobre as ocorrências de furto de veículos?

municipio = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseMunicipioMensal.csv', sep = ';',encoding='latin1')
municipio

,fmun_cod,fmun,ano,mes,mes_ano,regiao,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,3300100,Angra dos Reis,2014,1,2014m01,Interior,11,0,0,11,...,8,0,98,13,3,0,0,0,561,3
1,3300159,Aperibé,2014,1,2014m01,Interior,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,3300209,Araruama,2014,1,2014m01,Interior,2,0,0,2,...,5,0,91,10,1,0,0,0,480,3
3,3300225,Areal,2014,1,2014m01,Interior,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4,3300233,Armação dos Búzios,2014,1,2014m01,Interior,2,0,0,2,...,3,2,46,0,0,0,0,0,309,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12876,3306008,Três Rios,2025,8,2025m08,Interior,1,0,0,1,...,19,2,55,1,0,0,0,0,514,2
12877,3306107,Valença,2025,8,2025m08,Interior,0,0,0,0,...,6,1,48,1,1,0,0,0,206,2
12878,3306156,Varre-Sai,2025,8,2025m08,Interior,1,0,0,1,...,0,0,7,0,0,0,0,0,33,2
12879,3306206,Vassouras,2025,8,2025m08,Interior,0,0,0,0,...,1,0,27,0,0,0,0,0,121,2
12880,3306305,Volta Redonda,2025,8,2025m08,Interior,6,0,0,6,...,26,2,157,7,0,0,0,0,1456,2

In [12]:
furto_veiculos = municipio.groupby('fmun')['furto_veiculos'].sum().reset_index()
furto_veiculos

                  fmun  furto_veiculos
0       Angra dos Reis            1113
1              Aperibé              46
2             Araruama            1468
3                Areal              26
4   Armação dos Búzios             488
..                 ...             ...
87           Três Rios             386
88             Valença             178
89           Varre-Sai              35
90           Vassouras             128
91       Volta Redonda            2364

[92 rows x 2 columns]

In [13]:
furto_veiculos_array = np.array(furto_veiculos['furto_veiculos'])

In [14]:
mediana = np.median(furto_veiculos_array)
media = np.mean(furto_veiculos_array)

q1 = np.percentile(furto_veiculos_array, 25)
q2 = np.percentile(furto_veiculos_array, 50)
q3 = np.percentile(furto_veiculos_array, 75)
distancia = (media - mediana) / mediana 
iqr = q3 - q1
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)

print(f'Média: {media:.2f}')
print(f'Mediana: {mediana}')
print(f'Distancia: {distancia * 100:.2f}%')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Terceiro quartil geral (Q3): {q3}')

Média: 2044.11
Mediana: 224.0
Distancia: 812.55%
Primeiro quartil (Q1): 60.75
Segundo quartil (Q2, Mediana): 224.0
Terceiro quartil geral (Q3): 1104.75

In [15]:
furtos_municipio = furto_veiculos.loc[furto_veiculos['furto_veiculos'] >= limite_superior]
furtos_municipio.sort_values(by = 'furto_veiculos', ascending= False)

                     fmun  furto_veiculos
67         Rio de Janeiro           84641
77            São Gonçalo           13264
24        Duque de Caxias           12438
49            Nova Iguaçu           10875
47                Niterói            8263
81     São João de Meriti            6176
8            Belford Roxo            4621
14  Campos dos Goytacazes            3219

In [16]:
#Quais Upps destoam das demais no que diz respeito a ocorrências relacionadas à apreensão de menores?

upps = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/UppEvolucaoMensalDeTitulos.csv', sep = ';',encoding='latin1')
upps

,cod_upp,upp,ano,mes,hom_doloso,lesao_corp_morte,latrocinio,hom_por_interv_policial,tentat_hom,lesao_corp_dolosa,...,armas_apreendidas,cump_mandado_prisao,ocorr_flagrante,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias
0,1,Santa Marta,2007,1,0,0,0,0,0,1,...,2,1,0,0,0,0,0,0,0,11
1,2,Cidade de Deus,2007,1,3,0,0,0,1,18,...,7,2,11,7,2,0,0,0,0,98
2,3,Batam,2007,1,0,0,0,0,0,4,...,0,0,0,1,0,0,0,0,0,19
3,4,Chapéu Mangueira / Babilônia,2007,1,0,0,0,0,0,1,...,0,2,0,1,0,0,0,0,0,9
4,5,Pavão-Pavãozinho,2007,1,0,0,0,0,0,4,...,0,0,0,1,1,0,0,0,0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7975,34,Arará / Mandela,2024,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7976,35,Lins,2024,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7977,36,Camarista Méier,2024,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7978,37,Mangueirinha,2024,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7979,38,Vila Kennedy,2024,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Compare os outliers dos dois primeiros anos da atual gestão com os dois primeiros anos da gestão anterior no que diz
#respeito a estelionato na região metropolitana. O padrão de manteve? Alguma delegacia deixou de ser outlier? 
# Alguma delegacia passou a ser considerada outlier que anteriormente não era ?

In [17]:
gestao = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv', sep = ';',encoding='latin1')
gestao

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36624,159,8,2025,2025m08,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,5.0,0.0,16,0,0,0,0,0,148,2
36625,165,8,2025,2025m08,33,5,Mangaratiba,3302601,Interior,0,...,5.0,0.0,21,2,0,0,0,0,179,2
36626,166,8,2025,2025m08,33,5,Angra dos Reis,3300100,Interior,3,...,11.0,3.0,63,8,0,0,0,0,595,2
36627,167,8,2025,2025m08,43,5,Paraty,3303807,Interior,0,...,3.0,0.0,13,2,0,1,0,0,234,2
36628,168,8,2025,2025m08,28,5,Rio Claro,3304409,Interior,1,...,1.0,0.0,5,0,0,0,0,0,50,2

In [35]:
regiao = gestao[(gestao['regiao'] == 'Capital') | (gestao['regiao'] == 'Grande NiterÃ³i') | 
                (gestao['regiao'] == 'Baixada Fluminense')] 
regiao

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36559,77,8,2025,2025m08,12,4,Niterói,3303302,Grande NiterÃ³i,0,...,6.0,1.0,30,0,0,0,0,0,739,2
36560,78,8,2025,2025m08,12,4,Niterói,3303302,Grande NiterÃ³i,1,...,6.0,0.0,23,1,0,0,0,0,561,2
36561,79,8,2025,2025m08,12,4,Niterói,3303302,Grande NiterÃ³i,0,...,4.0,0.0,25,2,0,0,0,0,300,2
36562,81,8,2025,2025m08,12,4,Niterói,3303302,Grande NiterÃ³i,0,...,0.0,1.0,30,1,0,0,0,0,393,2
36563,82,8,2025,2025m08,12,4,Maricá,3302700,Grande NiterÃ³i,0,...,8.0,1.0,125,11,0,0,0,0,1202,2

In [36]:
primeira_gestao = regiao[(regiao ['ano'] == 2013) | (regiao['ano'] == 2014)]
primeira_gestao

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
15755,1,1,2013,2013m01,5,1,Rio de Janeiro,3304557,Capital,0,...,5.0,2.0,12,2,0,0,0,0,660,3
15756,4,1,2013,2013m01,5,1,Rio de Janeiro,3304557,Capital,0,...,6.0,4.0,35,0,2,0,0,0,797,3
15757,5,1,2013,2013m01,5,1,Rio de Janeiro,3304557,Capital,1,...,15.0,3.0,44,4,0,0,0,0,1357,3
15758,6,1,2013,2013m01,4,1,Rio de Janeiro,3304557,Capital,1,...,8.0,2.0,38,2,0,0,0,0,519,3
15759,7,1,2013,2013m01,5,1,Rio de Janeiro,3304557,Capital,0,...,4.0,0.0,10,0,1,0,0,0,158,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18975,77,12,2014,2014m12,12,4,Niterói,3303302,Grande NiterÃ³i,0,...,6.0,1.0,37,4,1,0,0,0,528,3
18976,78,12,2014,2014m12,12,4,Niterói,3303302,Grande NiterÃ³i,1,...,12.0,0.0,48,6,0,0,0,0,628,3
18977,79,12,2014,2014m12,12,4,Niterói,3303302,Grande NiterÃ³i,1,...,1.0,0.0,26,2,0,0,0,0,256,3
18978,81,12,2014,2014m12,12,4,Niterói,3303302,Grande NiterÃ³i,3,...,5.0,1.0,40,1,0,0,0,0,368,3
18979,82,12,2014,2014m12,12,4,Maricá,3302700,Grande NiterÃ³i,5,...,11.0,1.0,98,3,0,0,0,0,592,3

In [45]:
estelionato_primeira = primeira_gestao.groupby('cisp')['estelionato'].sum().reset_index()
estelionato_primeira.sort_values(by = 'estelionato', ascending= False)

    cisp  estelionato
52    59         2890
31    35         2716
12    16         2257
0      1         2025
2      5         1896
..   ...          ...
4      7           81
60    67           73
54    61           72
7     11           62
41    45           27

[71 rows x 2 columns]

In [ ]:
estelionato_primeira_array = np.array(estelionato_primeira['estelionato'])

In [48]:
mediana = np.median(estelionato_primeira_array)
media = np.mean(estelionato_primeira_array)

q1 = np.percentile(estelionato_primeira_array, 25)
q2 = np.percentile(estelionato_primeira_array, 50)
q3 = np.percentile(estelionato_primeira_array, 75)
distancia = (media - mediana) / mediana 
iqr = q3 - q1
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)

print(f'Média: {media:.2f}')
print(f'Mediana: {mediana}')
print(f'Distancia: {distancia * 100:.2f}%')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Terceiro quartil geral (Q3): {q3}')

Média: 833.08
Mediana: 694.0
Distancia: 20.04%
Primeiro quartil (Q1): 341.0
Segundo quartil (Q2, Mediana): 694.0
Terceiro quartil geral (Q3): 1153.5

In [ ]:
outlier_primeira = estelionato_primeira.loc[estelionato_primeira['estelionato'] >= limite_superior]
outlier_primeira.sort_values(by = 'estelionato', ascending= False)

# 59 - duque de caxias
# 35 - campo grande

    cisp  estelionato
52    59         2890
31    35         2716

In [38]:
segunda_gestao = regiao[(regiao ['ano'] == 2023) | (regiao['ano'] == 2024)]
segunda_gestao

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
32245,1,1,2023,2023m01,5,1,Rio de Janeiro,3304557,Capital,0,...,5.0,0.0,12,2,0,0,0,0,772,3
32246,4,1,2023,2023m01,5,1,Rio de Janeiro,3304557,Capital,0,...,9.0,1.0,14,4,0,0,0,0,614,3
32247,5,1,2023,2023m01,5,1,Rio de Janeiro,3304557,Capital,1,...,14.0,1.0,30,4,0,0,0,0,1258,3
32248,6,1,2023,2023m01,4,1,Rio de Janeiro,3304557,Capital,2,...,2.0,2.0,19,3,0,0,0,0,360,3
32249,7,1,2023,2023m01,5,1,Rio de Janeiro,3304557,Capital,1,...,0.0,1.0,18,1,0,0,0,0,232,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35463,77,12,2024,2024m12,12,4,Niterói,3303302,Grande NiterÃ³i,0,...,4.0,1.0,35,0,1,0,0,0,797,3
35464,78,12,2024,2024m12,12,4,Niterói,3303302,Grande NiterÃ³i,2,...,3.0,0.0,28,3,0,0,0,0,502,3
35465,79,12,2024,2024m12,12,4,Niterói,3303302,Grande NiterÃ³i,1,...,3.0,0.0,24,2,0,0,0,0,241,3
35466,81,12,2024,2024m12,12,4,Niterói,3303302,Grande NiterÃ³i,0,...,3.0,0.0,31,1,0,0,0,0,422,3
35467,82,12,2024,2024m12,12,4,Maricá,3302700,Grande NiterÃ³i,2,...,11.0,0.0,115,5,0,0,0,0,1076,3

In [46]:
estelionato_segunda = segunda_gestao.groupby('cisp')['estelionato'].sum().reset_index()
estelionato_segunda.sort_values(by = 'estelionato', ascending= False)

    cisp  estelionato
31    35        10026
12    16         9665
28    32         9529
38    42         6433
56    64         5797
..   ...          ...
4      7          753
53    61          651
43    51          507
55    63          443
7     11          380

[70 rows x 2 columns]

In [50]:
estelionato_segunda_array = np.array(estelionato_segunda['estelionato'])

In [51]:
ediana = np.median(estelionato_segunda_array)
media = np.mean(estelionato_segunda_array)

q1 = np.percentile(estelionato_segunda_array, 25)
q2 = np.percentile(estelionato_segunda_array, 50)
q3 = np.percentile(estelionato_segunda_array, 75)
distancia = (media - mediana) / mediana 
iqr = q3 - q1
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)

print(f'Média: {media:.2f}')
print(f'Mediana: {mediana}')
print(f'Distancia: {distancia * 100:.2f}%')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Terceiro quartil geral (Q3): {q3}')

Média: 2894.93
Mediana: 694.0
Distancia: 317.14%
Primeiro quartil (Q1): 1668.25
Segundo quartil (Q2, Mediana): 2350.0
Terceiro quartil geral (Q3): 3543.75

In [ ]:
outlier_segunda = estelionato_segunda.loc[estelionato_segunda['estelionato'] >= limite_superior]
outlier_segunda.sort_values(by = 'estelionato', ascending= False)

# 35 - campo grande 
# 16 - barra da tijuca
# 32 - taquara
# 42 - recreio

    cisp  estelionato
31    35        10026
12    16         9665
28    32         9529
38    42         6433