In [1]:
import numpy as np
import pandas as pd

In [2]:
dados = pd.read_csv('funcionarios_dados_ti.csv', sep = ';')
dados

,Nome,Cargo,Salario,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Ana Souza,Cientista de Dados,12000,NaN,NaN,NaN,NaN,NaN
1,Bruno Lima,Engenheiro de Dados,11500,NaN,NaN,NaN,NaN,NaN
2,Carla Mendes,Analista de BI,10500,NaN,NaN,NaN,NaN,NaN
3,Daniel Rocha,Engenheiro de Machine Learning,13000,NaN,NaN,NaN,NaN,NaN
4,Elisa Martins,Analista de Dados,9800,NaN,NaN,NaN,NaN,NaN
5,Felipe Andrade,Arquiteto de Dados,13500,NaN,NaN,NaN,NaN,NaN
6,Gabriela Torres,Engenheira de Dados,11800,NaN,NaN,NaN,NaN,NaN
7,Henrique Silva,Cientista de Dados JÃºnior,10200,NaN,NaN,NaN,NaN,NaN
8,Isabela Ferreira,Analista de BI Pleno,10800,NaN,NaN,NaN,NaN,NaN
9,JoÃ£o Pedro Ramos,Engenheiro de Dados SÃªnior,14000,NaN,NaN,NaN,NaN,NaN
10,Karina Oliveira,Especialista em Big Data,12500,NaN,NaN,NaN,NaN,NaN
11,Lucas Almeida,Analista de Dados JÃºnior,9700,NaN,NaN,NaN,NaN,NaN
12,Mariana Costa,Cientista de Dados Pleno,11000,NaN,NaN,NaN,NaN,NaN
13,Nelson Barros,Engenheiro de Dados JÃºnior,10100,NaN,NaN,NaN,NaN,NaN
14,Olivia Nascimento,Analista de BI SÃªnior,10900,NaN,NaN,NaN,NaN,NaN
15,Paulo Henrique,Arquiteto de SoluÃ§Ãµes de Dados,13200,NaN,NaN,NaN,NaN,NaN
16,QuÃ©sia Duarte,Cientista de Dados SÃªnior,14500,NaN,NaN,NaN,NaN,NaN
17,Rafael Teixeira,Engenheiro de Dados Pleno,11900,NaN,NaN,NaN,NaN,NaN
18,Sabrina Lopes,Analista de Dados Pleno,9900,NaN,NaN,NaN,NaN,NaN
19,Tiago Moreira,Especialista em Dados,12700,NaN,NaN,NaN,NaN,NaN

In [3]:
salario_array = np.array(dados['Salario'])

In [4]:
media = np.mean(salario_array)
mediana = np.median(salario_array)
distancia = (media - mediana) / mediana

print(f'Média: {media}')
print(f'Mediana: {mediana}')
print(f'Distancia: {round(distancia*100,2)}%') 
print('Nesse caso, a média é confiavel!')

Média: 11675.0
Mediana: 11650.0
Distancia: 0.21%
Nesse caso, a média é confiavel!

In [5]:
#outliers, são valores que se distanciam significativamente dos demais dados 

#descobrir outliers: 

# iqr = Q3 - Q1

#limite superior = Q3 + (1.5 x iqr) [outliers que puxam a media pra cima]
#limite inferior Q1 - (1.5 x iqr) [outliers que puxam a media pra baixo]

In [6]:
# Na última década, algum município da região metropolitana pode ser considerado outlier sobre as ocorrências de furto de veículos?

municipio = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseMunicipioMensal.csv', sep = ';',encoding='latin1')
municipio

,fmun_cod,fmun,ano,mes,mes_ano,regiao,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,3300100,Angra dos Reis,2014,1,2014m01,Interior,11,0,0,11,...,8,0,98,13,3,0,0,0,561,3
1,3300159,Aperibé,2014,1,2014m01,Interior,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
2,3300209,Araruama,2014,1,2014m01,Interior,2,0,0,2,...,5,0,91,10,1,0,0,0,480,3
3,3300225,Areal,2014,1,2014m01,Interior,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
4,3300233,Armação dos Búzios,2014,1,2014m01,Interior,2,0,0,2,...,3,2,46,0,0,0,0,0,309,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12876,3306008,Três Rios,2025,8,2025m08,Interior,1,0,0,1,...,19,2,55,1,0,0,0,0,514,2
12877,3306107,Valença,2025,8,2025m08,Interior,0,0,0,0,...,6,1,48,1,1,0,0,0,206,2
12878,3306156,Varre-Sai,2025,8,2025m08,Interior,1,0,0,1,...,0,0,7,0,0,0,0,0,33,2
12879,3306206,Vassouras,2025,8,2025m08,Interior,0,0,0,0,...,1,0,27,0,0,0,0,0,121,2
12880,3306305,Volta Redonda,2025,8,2025m08,Interior,6,0,0,6,...,26,2,157,7,0,0,0,0,1456,2

In [7]:
regiao_metropolitana = ['Rio de Janeiro' , 'Duque de Caxias', 'São João de Meriti', 'Belford Roxo', 'Nilópolis', 'Mesquita', 'Nova Iguaçu', 'Queimados', 'Japeri', 
'Paracambi', 'Seropédica', 'Itaguaí', 'Mangaratiba', 'Magé', 'Guapimirim', 'Niterói', 'São Gonçalo', 'Itaboraí' , 'Maricá' , 'Tanguá', 'Rio Bonito', 'Cachoeiras de Macacu']

regiao = municipio.loc[(municipio['fmun'].isin (regiao_metropolitana))]
regiao

,fmun_cod,fmun,ano,mes,mes_ano,regiao,hom_doloso,lesao_corp_morte,latrocinio,cvli,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
8,3300456,Belford Roxo,2014,1,2014m01,Baixada Fluminense,29,0,0,29,...,16,0,231,22,3,0,0,0,1367,3
12,3300803,Cachoeiras de Macacu,2014,1,2014m01,Interior,2,0,0,2,...,2,0,20,2,1,0,0,0,175,3
24,3301702,Duque de Caxias,2014,1,2014m01,Baixada Fluminense,37,0,0,37,...,56,0,447,43,3,0,0,0,4247,3
26,3301850,Guapimirim,2014,1,2014m01,Baixada Fluminense,1,0,0,1,...,2,0,35,4,0,0,0,0,137,3
28,3301900,Itaboraí,2014,1,2014m01,Interior,5,0,0,5,...,14,0,169,11,0,0,0,0,908,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12856,3304557,Rio de Janeiro,2025,8,2025m08,Capital,86,2,2,90,...,326,68,2037,232,19,0,0,0,39553,2
12861,3304904,São Gonçalo,2025,8,2025m08,Grande Niterói,5,0,0,5,...,29,0,159,24,1,0,0,0,2463,2
12863,3305109,São João de Meriti,2025,8,2025m08,Baixada Fluminense,7,0,0,7,...,23,0,168,17,2,0,0,0,2040,2
12870,3305554,Seropédica,2025,8,2025m08,Baixada Fluminense,1,0,0,1,...,5,0,37,5,1,0,0,0,316,2
12873,3305752,Tanguá,2025,8,2025m08,Interior,0,0,0,0,...,1,0,8,1,0,0,0,0,107,2

In [8]:
furto_veiculos = regiao.groupby('fmun')['furto_veiculos'].sum().reset_index()
furto_veiculos

                    fmun  furto_veiculos
0           Belford Roxo            4621
1   Cachoeiras de Macacu             277
2        Duque de Caxias           12438
3             Guapimirim             431
4               Itaboraí            2628
5                Itaguaí            1448
6                 Japeri             546
7                   Magé            2624
8            Mangaratiba            1039
9                 Maricá            2257
10              Mesquita            2667
11             Nilópolis            2293
12               Niterói            8263
13           Nova Iguaçu           10875
14             Paracambi             227
15             Queimados            1562
16            Rio Bonito            1028
17        Rio de Janeiro           84641
18            Seropédica             673
19           São Gonçalo           13264
20    São João de Meriti            6176
21                Tanguá             223

In [9]:
furto_veiculos_array = np.array(furto_veiculos['furto_veiculos'])

In [10]:
mediana = np.median(furto_veiculos_array)
media = np.mean(furto_veiculos_array)

q1 = np.percentile(furto_veiculos_array, 25)
q2 = np.percentile(furto_veiculos_array, 50)
q3 = np.percentile(furto_veiculos_array, 75)
distancia = (media - mediana) / mediana 
iqr = q3 - q1
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)

print(f'Média: {media:.2f}')
print(f'Mediana: {mediana}')
print(f'Distancia: {distancia * 100:.2f}%')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Terceiro quartil geral (Q3): {q3}')

Média: 7281.86
Mediana: 2275.0
Distancia: 220.08%
Primeiro quartil (Q1): 761.75
Segundo quartil (Q2, Mediana): 2275.0
Terceiro quartil geral (Q3): 5787.25

In [11]:
furtos_municipio = furto_veiculos.loc[furto_veiculos['furto_veiculos'] >= limite_superior]
furtos_municipio.sort_values(by = 'furto_veiculos', ascending= False)

              fmun  furto_veiculos
17  Rio de Janeiro           84641

## Compare os outliers dos dois primeiros anos da atual gestão com os dois primeiros anos da gestão anterior no que diz respeito a estelionato na região metropolitana. O padrão de manteve? Alguma delegacia deixou de ser outlier?  Alguma delegacia passou a ser considerada outlier que anteriormente não era ?

In [12]:
gestao = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv', sep = ';',encoding='latin1')
gestao

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36624,159,8,2025,2025m08,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,5.0,0.0,16,0,0,0,0,0,148,2
36625,165,8,2025,2025m08,33,5,Mangaratiba,3302601,Interior,0,...,5.0,0.0,21,2,0,0,0,0,179,2
36626,166,8,2025,2025m08,33,5,Angra dos Reis,3300100,Interior,3,...,11.0,3.0,63,8,0,0,0,0,595,2
36627,167,8,2025,2025m08,43,5,Paraty,3303807,Interior,0,...,3.0,0.0,13,2,0,1,0,0,234,2
36628,168,8,2025,2025m08,28,5,Rio Claro,3304409,Interior,1,...,1.0,0.0,5,0,0,0,0,0,50,2

In [13]:
regiao_metropolitana = ['Rio de Janeiro' , 'Duque de Caxias', 'São João de Meriti', 'Belford Roxo', 'Nilópolis', 'Mesquita', 'Nova Iguaçu', 'Queimados', 'Japeri', 
'Paracambi', 'Seropédica', 'Itaguaí', 'Mangaratiba', 'Magé', 'Guapimirim', 'Niterói', 'São Gonçalo', 'Itaboraí' , 'Maricá' , 'Tanguá', 'Rio Bonito', 'Cachoeiras de Macacu']

regiao = gestao.loc[(gestao['munic'].isin (regiao_metropolitana))] 
regiao

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36562,81,8,2025,2025m08,12,4,Niterói,3303302,Grande NiterÃ³i,0,...,0.0,1.0,30,1,0,0,0,0,393,2
36563,82,8,2025,2025m08,12,4,Maricá,3302700,Grande NiterÃ³i,0,...,8.0,1.0,125,11,0,0,0,0,1202,2
36588,119,8,2025,2025m08,35,4,Rio Bonito,3304300,Interior,0,...,9.0,0.0,19,0,0,0,0,0,207,2
36624,159,8,2025,2025m08,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,5.0,0.0,16,0,0,0,0,0,148,2
36625,165,8,2025,2025m08,33,5,Mangaratiba,3302601,Interior,0,...,5.0,0.0,21,2,0,0,0,0,179,2

In [14]:
primeira_gestao = regiao[(regiao ['ano'] == 2019) | (regiao['ano'] == 2020)]
primeira_gestao

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
25669,1,1,2019,2019m01,5,1,Rio de Janeiro,3304557,Capital,0,...,8.0,1.0,11,1,0,0,0,0,572,3
25670,4,1,2019,2019m01,5,1,Rio de Janeiro,3304557,Capital,1,...,15.0,10.0,12,2,1,0,0,0,625,3
25671,5,1,2019,2019m01,5,1,Rio de Janeiro,3304557,Capital,0,...,30.0,18.0,29,3,0,0,0,0,1095,3
25672,6,1,2019,2019m01,4,1,Rio de Janeiro,3304557,Capital,3,...,9.0,2.0,33,3,0,0,0,0,575,3
25673,7,1,2019,2019m01,5,1,Rio de Janeiro,3304557,Capital,1,...,0.0,0.0,9,0,0,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28890,81,12,2020,2020m12,12,4,Niterói,3303302,Grande NiterÃ³i,2,...,6.0,0.0,26,1,0,0,0,0,236,3
28891,82,12,2020,2020m12,12,4,Maricá,3302700,Grande NiterÃ³i,10,...,7.0,0.0,49,8,0,0,0,0,537,3
28916,119,12,2020,2020m12,35,4,Rio Bonito,3304300,Interior,0,...,5.0,1.0,17,1,0,0,0,0,124,3
28952,159,12,2020,2020m12,35,4,Cachoeiras de Macacu,3300803,Interior,0,...,2.0,0.0,14,1,0,0,0,0,90,3
28953,165,12,2020,2020m12,33,5,Mangaratiba,3302601,Interior,1,...,4.0,0.0,29,0,0,0,0,0,167,3

In [15]:
estelionato_primeira = primeira_gestao.groupby('cisp')['estelionato'].sum().reset_index()
estelionato_primeira.sort_values(by = 'estelionato', ascending= False)

    cisp  estelionato
31    35         3592
12    16         3054
28    32         2671
0      1         2560
30    34         2375
..   ...          ...
72   119          124
59    67          118
4      7          114
55    63          101
60    70           45

[75 rows x 2 columns]

In [16]:
estelionato_primeira_array = np.array(estelionato_primeira['estelionato'])

In [17]:
mediana = np.median(estelionato_primeira_array)
media = np.mean(estelionato_primeira_array)

q1 = np.percentile(estelionato_primeira_array, 25)
q2 = np.percentile(estelionato_primeira_array, 50)
q3 = np.percentile(estelionato_primeira_array, 75)
distancia = (media - mediana) / mediana 

iqr = q3 - q1
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)

print(f'Média: {media:.2f}')
print(f'Mediana: {mediana}')
print(f'Distancia: {distancia * 100:.2f}%')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Terceiro quartil geral (Q3): {q3}')

Média: 985.60
Mediana: 706.0
Distancia: 39.60%
Primeiro quartil (Q1): 418.0
Segundo quartil (Q2, Mediana): 706.0
Terceiro quartil geral (Q3): 1445.0

In [ ]:
outlier_primeira = estelionato_primeira.loc[estelionato_primeira['estelionato'] >= limite_superior]

In [19]:
segunda_gestao = regiao[(regiao ['ano'] == 2023) | (regiao['ano'] == 2024)]
segunda_gestao

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
32245,1,1,2023,2023m01,5,1,Rio de Janeiro,3304557,Capital,0,...,5.0,0.0,12,2,0,0,0,0,772,3
32246,4,1,2023,2023m01,5,1,Rio de Janeiro,3304557,Capital,0,...,9.0,1.0,14,4,0,0,0,0,614,3
32247,5,1,2023,2023m01,5,1,Rio de Janeiro,3304557,Capital,1,...,14.0,1.0,30,4,0,0,0,0,1258,3
32248,6,1,2023,2023m01,4,1,Rio de Janeiro,3304557,Capital,2,...,2.0,2.0,19,3,0,0,0,0,360,3
32249,7,1,2023,2023m01,5,1,Rio de Janeiro,3304557,Capital,1,...,0.0,1.0,18,1,0,0,0,0,232,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35466,81,12,2024,2024m12,12,4,Niterói,3303302,Grande NiterÃ³i,0,...,3.0,0.0,31,1,0,0,0,0,422,3
35467,82,12,2024,2024m12,12,4,Maricá,3302700,Grande NiterÃ³i,2,...,11.0,0.0,115,5,0,0,0,0,1076,3
35492,119,12,2024,2024m12,35,4,Rio Bonito,3304300,Interior,1,...,0.0,0.0,20,0,0,0,0,0,178,3
35528,159,12,2024,2024m12,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,1.0,0.0,27,2,0,0,0,0,137,3
35529,165,12,2024,2024m12,33,5,Mangaratiba,3302601,Interior,1,...,6.0,0.0,31,1,1,0,0,0,209,3

In [20]:
estelionato_segunda = segunda_gestao.groupby('cisp')['estelionato'].sum().reset_index()
estelionato_segunda.sort_values(by = 'estelionato', ascending= False)

    cisp  estelionato
31    35        10026
12    16         9665
28    32         9529
38    42         6433
56    64         5797
..   ...          ...
72   119          501
73   159          458
55    63          443
7     11          380
60    70          267

[75 rows x 2 columns]

In [21]:
estelionato_segunda_array = np.array(estelionato_segunda['estelionato'])

In [22]:
ediana = np.median(estelionato_segunda_array)
media = np.mean(estelionato_segunda_array)

q1 = np.percentile(estelionato_segunda_array, 25)
q2 = np.percentile(estelionato_segunda_array, 50)
q3 = np.percentile(estelionato_segunda_array, 75)
distancia = (media - mediana) / mediana 

iqr = q3 - q1
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)

print(f'Média: {media:.2f}')
print(f'Mediana: {mediana}')
print(f'Distancia: {distancia * 100:.2f}%')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Terceiro quartil geral (Q3): {q3}')

Média: 2757.53
Mediana: 706.0
Distancia: 290.59%
Primeiro quartil (Q1): 1576.0
Segundo quartil (Q2, Mediana): 2224.0
Terceiro quartil geral (Q3): 3486.5

In [23]:
outlier_primeira.sort_values(by = 'estelionato', ascending= False)

# 35 - campo grande
# 16 - barra da tijuca

    cisp  estelionato
31    35         3592
12    16         3054

In [24]:
outlier_segunda = estelionato_segunda.loc[estelionato_segunda['estelionato'] >= limite_superior]
outlier_segunda.sort_values(by = 'estelionato', ascending= False)

# 35 - campo grande 
# 16 - barra da tijuca
# 32 - taquara
# 42 - recreio

    cisp  estelionato
31    35        10026
12    16         9665
28    32         9529
38    42         6433

In [25]:
# Na primeira gestão, a distância é de 39%, com 2 valores extremos que diferem das demais, sendo elas campo grande e barra da tijuca.
# Na segunda gestão, vemos que as delegacias outliers dobraram, com 290% de distância e com 4 valores extremos, campo grande e barra da tijuca contiuam liderando mas se juntam a lista 
# taquara e recreio.

In [26]:
#Quais Upps destoam das demais no que diz respeito a ocorrências relacionadas à apreensão de drogas?

upps = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/UppEvolucaoMensalDeTitulos.csv', sep = ';',encoding='latin1')
upps

,cod_upp,upp,ano,mes,hom_doloso,lesao_corp_morte,latrocinio,hom_por_interv_policial,tentat_hom,lesao_corp_dolosa,...,armas_apreendidas,cump_mandado_prisao,ocorr_flagrante,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias
0,1,Santa Marta,2007,1,0,0,0,0,0,1,...,2,1,0,0,0,0,0,0,0,11
1,2,Cidade de Deus,2007,1,3,0,0,0,1,18,...,7,2,11,7,2,0,0,0,0,98
2,3,Batam,2007,1,0,0,0,0,0,4,...,0,0,0,1,0,0,0,0,0,19
3,4,Chapéu Mangueira / Babilônia,2007,1,0,0,0,0,0,1,...,0,2,0,1,0,0,0,0,0,9
4,5,Pavão-Pavãozinho,2007,1,0,0,0,0,0,4,...,0,0,0,1,1,0,0,0,0,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7975,34,Arará / Mandela,2024,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7976,35,Lins,2024,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7977,36,Camarista Méier,2024,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7978,37,Mangueirinha,2024,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7979,38,Vila Kennedy,2024,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
drogas = upps.groupby('upp')['apreensao_drogas'].sum().reset_index()
drogas

                             upp  apreensao_drogas
0                 Adeus / Baiana               295
1                         Alemão               257
2                        Andaraí               389
3                Arará / Mandela               598
4     Barreira do Vasco / Tuiuti               627
5                          Batam               310
6                          Borel               555
7                           Caju               275
8                Camarista Méier               245
9                     Cerro-Corá               122
10  Chapéu Mangueira / Babilônia               361
11                       Chatuba               163
12                Cidade de Deus              2818
13   Coroa / Fallet / Fogueteiro               486
14       Escondidinho / Prazeres               226
15                    Fazendinha               286
16                       Formiga               205
17                   Fé / Sereno               121
18                   Jacarezinho              1132
19                          Lins               415
20                       Macacos               618
21                     Mangueira               774
22                  Mangueirinha               590
23                    Manguinhos               526
24                 Nova Brasília               259
25             Parque Proletário               107
26              Pavão-Pavãozinho               655
27                   Providência               716
28                       Rocinha               636
29                     Salgueiro               306
30                   Santa Marta               228
31                    São Carlos               500
32     São João / Matriz / Queto               312
33                     Tabajaras               538
34                        Turano               441
35                       Vidigal               302
36                 Vila Cruzeiro               549
37                  Vila Kennedy              1363

In [28]:
apreensao_drogas_array = np.array(drogas['apreensao_drogas'])

In [29]:
mediana = np.median(apreensao_drogas_array)
media = np.mean(apreensao_drogas_array)

q1 = np.percentile(apreensao_drogas_array, 25)
q2 = np.percentile(apreensao_drogas_array, 50)
q3 = np.percentile(apreensao_drogas_array, 75)
distancia = (media - mediana) / mediana

iqr = q3 - q1 
limite_superior = q3 + (1.5 * iqr)
limite_inferior = q1 - (1.5 * iqr)

print(f'Média: {media:.2f}')
print(f'Mediana: {mediana}')
print(f'Distancia: {distancia * 100:.2f}%')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Terceiro quartil geral (Q3): {q3}')

Média: 508.05
Mediana: 402.0
Distancia: 26.38%
Primeiro quartil (Q1): 263.0
Segundo quartil (Q2, Mediana): 402.0
Terceiro quartil geral (Q3): 596.0

In [30]:
total_apreensao = drogas.loc[drogas['apreensao_drogas'] >= limite_superior]
total_apreensao.sort_values(by = 'apreensao_drogas', ascending = False)

               upp  apreensao_drogas
12  Cidade de Deus              2818
37    Vila Kennedy              1363
18     Jacarezinho              1132